{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block body %}
    <h1>Create an entry</h1>
    <form method ="POST">
        {% csrf_token %}
        <div>
        <input placeholder="Title" type="text" style="margin-top:15px;" name="title">
        </div>
        <div>
        <textarea  placeholder="Content" style="margin-top:30px;height:500px;" name ="content"></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>

{% endblock %}